<ul class="column-box">
    <% data.map(function (item,index) {%>
    <li>
        <img src="/images/book.jpg" class="img-thumbnail hidden-sm hidden-xs">
        <h3 class="column-title"><%= item.columnName%></h3>
        <a href="/articles/deleteColumn?id=<%=item.id%>" class="btn btn-danger del-column">
            <span class="glyphicon glyphicon-remove"></span>
            删除
        </a>
        <p class="column-introduce"><%= item.columnIntroduce%></p>
        <div class="column-info">
            <span class="text-info"><%= item.time%></span>
            <span class="text-muted">喜欢数:</span><span class="text-info">100</span>
            <span class="text-muted">文章数:</span><span class="text-info">100</span>
            <span class="text-muted">浏览量:</span><span class="text-info">100</span>
        </div>
        <a href="/writeArticles?columnId=<%=item.id%>" class="btn btn-default add-column">
            <span class="glyphicon glyphicon-th-list"></span>
            管理
        </a>
    </li>  
    <% }) %>
</ul>